body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
}

header {
    background-color:#f8b400;
    padding: 20px;
    color: rgb(31, 24, 24);
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.productos, .carrito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.producto button:hover {
    background-color: #ff3e30;
}

.registro, .login, .carrito {
    margin: 40px auto;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Grupo de checkboxes */
.checkbox-group, .radio-group {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
   
} 

/* Asegurar que los checkboxes y radios no hereden el display:block */
input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: auto; /* No queremos que el checkbox o radio tenga 100% de ancho */
    margin-right: 8px; /* Espacio entre el input y el label */
}

label {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden;    /* Oculta el desbordamiento de texto */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
    max-width: 200px;    /* Ajusta este valor al ancho máximo deseado */
    display: inline-block; /* Asegura que el label respete el max-width */
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button, .carrito button {
    background-color: #f3c734;
    color: rgb(20, 7, 7);
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover, .carrito button:hover {
    background-color: #ff3e30;
}



footer {
    background-color: #f8b400;
    color:  rgb(31, 24, 24);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
